@model VBSAdmin.Data.VBSAdminModels.Session

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Session</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="VBSId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="VBSId" class="form-control" asp-items="ViewBag.VBSId"></select>
                <span asp-validation-for="VBSId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Period" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Period" class="form-control" asp-items="Html.GetEnumSelectList<VBSAdmin.Data.VBSAdminModels.Enums.SessionPeriod>()"></select>
                <span asp-validation-for="Period" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MaxChildren" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MaxChildren" class="form-control" />
                <span asp-validation-for="MaxChildren" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
