@model IEnumerable<VBSAdmin.Models.ClassroomViewModels.RostersMedicalViewModel>

@{
    ViewData["Title"] = "Class Rosters - Medical Conditions and Medications";
}

<h2 class="pagebreak">Class Rosters - Medical Conditions and Medications</h2>

@foreach (var item in Model)
{
    <div class="panel panel-primary pagebreak">
        <div class="panel-heading">@(item.SessionPeriod + " " + item.Grade.GetDisplayName() + " " + item.Name)</div>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th style="width:150px">
                        Name
                    </th>
                    <th style="width:300px">
                        Medical Condition Description
                    </th>
                    <th style="width:200px">
                        Medication Description
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var child in item.Children)
                {
                    <tr>
                        <td style="width:150px">
                            @child.Name
                        </td>
                        <td style="width:300px">
                            @child.MedicalConditionDescription
                        </td>
                        <td style="width:200px">
                            @child.MedicinesDescription
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<p />
}
