@model IEnumerable<VBSAdmin.Models.ClassroomViewModels.RostersAllergiesViewModel>

@{
    ViewData["Title"] = "Class Rosters - Allergies";
}

<h2 class="pagebreak">Class Rosters - Allergies</h2>

@foreach (var item in Model)
{
    <div class="panel panel-primary pagebreak">
        <div class="panel-heading">@(item.SessionPeriod + " " + item.Grade.GetDisplayName() + " " + item.Name)</div>
        <table class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th style="width:200px">
                        Name
                    </th>
                    <th>
                        Allergy Description
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var child in item.Children)
                {
                    <tr>
                        <td style="width:200px">
                            @child.Name
                        </td>
                        <td>
                            @child.AllergyDescription
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<p />
}
