@model IEnumerable<VBSAdmin.Models.ClassroomViewModels.RostersNameViewModel>

@{
    ViewData["Title"] = "Class Rosters - Name Only";
}

<h2 class="pagebreak">Class Rosters - Name Only</h2>

@foreach (var item in Model)
{
    <div class="panel panel-primary pagebreak">
        <div class="panel-heading">@(item.SessionPeriod + " " + item.Grade.GetDisplayName() + " " + item.Name)</div>
        <table class="table table-bordered table-condensed">
            <tbody>
                @foreach (var name in item.ChildrenNames)
                {
                    <tr>
                        <td>
                            @name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
<p />
}
