@model IEnumerable<VBSAdmin.Models.ChildrenViewModels.AlphabeticalClassAssignmentsViewModel>

@{
    ViewData["Title"] = "Alphabetical Classroom Assignments - By Session";
}

<h2>Alphabetical Classroom Assignments</h2>

<div class="panel panel-primary">
    <table class="table table-bordered table-condensed">
        <tbody>
            @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.ClassAssignment
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>
<p />

