@model VBSAdmin.Data.VBSAdminModels.Child

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Child</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="SessionId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="SessionId" class="form-control" asp-items="ViewBag.SessionId"></select>
                <span asp-validation-for="SessionId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Gender" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<VBSAdmin.Data.VBSAdminModels.Enums.ChildGender>()"></select>
                <span asp-validation-for="Gender" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="State" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Zip" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GradeCompleted" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="GradeCompleted" class="form-control" asp-items="Html.GetEnumSelectList<VBSAdmin.Data.VBSAdminModels.Enums.ClassGrade>()"></select>
                <span asp-validation-for="GradeCompleted" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GuardianFirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GuardianFirstName" class="form-control" />
                <span asp-validation-for="GuardianFirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GuardianLastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GuardianLastName" class="form-control" />
                <span asp-validation-for="GuardianLastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GuardianPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GuardianPhone" class="form-control" />
                <span asp-validation-for="GuardianPhone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GuardianEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GuardianEmail" class="form-control" />
                <span asp-validation-for="GuardianEmail" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GuardianChildRelationship" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GuardianChildRelationship" class="form-control" />
                <span asp-validation-for="GuardianChildRelationship" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmergencyContactFirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmergencyContactFirstName" class="form-control" />
                <span asp-validation-for="EmergencyContactFirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmergencyContactLastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmergencyContactLastName" class="form-control" />
                <span asp-validation-for="EmergencyContactLastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmergencyContactPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmergencyContactPhone" class="form-control" />
                <span asp-validation-for="EmergencyContactPhone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="HasAllergies" />
                    <label asp-for="HasAllergies"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AllergiesDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AllergiesDescription" class="form-control" />
                <span asp-validation-for="AllergiesDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="HasMedicalCondition" />
                    <label asp-for="HasMedicalCondition"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MedicalConditionDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MedicalConditionDescription" class="form-control" />
                <span asp-validation-for="MedicalConditionDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="HasMedications" />
                    <label asp-for="HasMedications"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MedicationDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MedicationDescription" class="form-control" />
                <span asp-validation-for="MedicationDescription" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="AttendHostChurch" />
                    <label asp-for="AttendHostChurch"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HomeChurch" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HomeChurch" class="form-control" />
                <span asp-validation-for="HomeChurch" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InvitedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InvitedBy" class="form-control" />
                <span asp-validation-for="InvitedBy" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PlaceChildWithRequest" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PlaceChildWithRequest" class="form-control" />
                <span asp-validation-for="PlaceChildWithRequest" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClassroomId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ClassroomId" class="form-control" asp-items="ViewBag.ClassroomId"></select>
                <span asp-validation-for="ClassroomId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="DecisionMade" />
                    <label asp-for="DecisionMade"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
