@model VBSAdmin.Data.VBSAdminModels.VBS

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>VBS</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="ThemeName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ThemeName" class="form-control" />
                <span asp-validation-for="ThemeName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="StartDate" value="@Model.StartDate.ToString("d")" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EndDate" value="@Model.EndDate.ToString("d")" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FormStackAPIKey" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FormStackAPIKey" class="form-control" />
                <span asp-validation-for="FormStackAPIKey" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FormStackFormId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FormStackFormId" class="form-control" />
                <span asp-validation-for="FormStackFormId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FormStackImportPageKey" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FormStackImportPageKey" class="form-control" />
                <span asp-validation-for="FormStackImportPageKey" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
