@model VBSAdmin.Models.VBSAdminModels.Guardian

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Guardian</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Address1" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address1" class="form-control" />
                <span asp-validation-for="Address1" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Address2" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Address2" class="form-control" />
                <span asp-validation-for="Address2" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AttendHostChurch" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="AttendHostChurch" class="form-control" />
                <span asp-validation-for="AttendHostChurch" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ChildRelationship" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ChildRelationship" class="form-control" />
                <span asp-validation-for="ChildRelationship" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="City" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EmergencyContact" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EmergencyContact" class="form-control" />
                <span asp-validation-for="EmergencyContact" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="HomeChurch" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="HomeChurch" class="form-control" />
                <span asp-validation-for="HomeChurch" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InvitedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="InvitedBy" class="form-control" />
                <span asp-validation-for="InvitedBy" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryPhone" class="form-control" />
                <span asp-validation-for="PrimaryPhone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SecondaryPhone" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SecondaryPhone" class="form-control" />
                <span asp-validation-for="SecondaryPhone" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SessionId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SessionId" class="form-control" />
                <span asp-validation-for="SessionId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="State" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Timestamp" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Timestamp" class="form-control" />
                <span asp-validation-for="Timestamp" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="VBSId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="VBSId" class="form-control" asp-items="ViewBag.VBSId"></select>
                <span asp-validation-for="VBSId" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Zip" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
